* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background: #252525;
}

a {
  text-decoration: none;
  color: pink;
}

a:hover {
  color: red;
}

h2 {
  margin: 0;
}

.center {
  text-align: center;
}

/* Navbar */

.navbar {
  background: #121212;
}

.navbar a {
  color: white;
}

main {
  padding: 1em;
}

.navbar-toggler-icon,
button,
.navbar-toggler {
  color: white;
}

/* footer */

footer {
  bottom: 0;
}

/* Fil d'arianne + liste catégories */

.arianne {
  margin-left: 10%;
  margin-bottom: 1em;
}

/* blocks */

#wrapper {
  width: 80%;
  border: 1px solid white;
  margin: auto;
  margin-top: 1em;
  padding: 1.5vw;
}

.block {
  margin: auto;
  border: 1px solid white;
  padding: 1em;
}

/* category list */

.categorylist {
  width: 80%;
  border: 1px solid white;
  margin: auto;
  padding: 1.5vw;
}
